@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a2e;
  --text: #ffffff;
  --primary: #0f3460;
  --secondary: #16213e;
  --accent: #e94560;
}

body {
  color: var(--text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
